@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow-y: auto;
    margin: 0;
}

p {
    font-weight: 500;
}

.main-card {
    width: 800px;
    margin-top: 400px;
    margin-bottom: 200px;
}

a {
    color: cyan;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: rgb(119, 194, 194);
}

.card {
    background-color: transparent;
}

.songs {
    display: flex;
    align-items: center;
}