@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    width: 800px;
    
}

.content {
    color: #fff;
}